/* #ingredients{
    color : green
} */
body {
    font-family : Arial, sans-serif;
    /* color : red */
}
h1 {
    font-size : 38px
}
h2 {
    font-size : 32px
}
.ingredients-list {
    list-style : square inside
}
ol {
    list-style : circle inside
}
head > img {
    width : 100px
}
ol  li  a {
    text-decoration: none /* removes underline */
}
* {background-color: lightsteelblue}